<html>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">

    <header>
        <title>LOGIN FORM</title>
    </header>
    <body>
        <div>
        <form action='/api/login/check' method="POST" >
            Name:<br>
            <input type="text" name="name" id="name" required><br>
            Password:<br>
            <input type="password" name="pass" id="pass" required><br>          
            <input type="submit" value="Submit"> 
        </form>
    </div>
    </body>
</html>