<html>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">

<head>
    <title>REGISTER FORM</title>
</head>

<body>
    <div>
    <form action='/api/register/check' method="POST">
        User name<br>
        <input type="text" name="name" id="name" required><br>
        Email:<br>
        <input type="text" name="email" id="email" required><br>
        Password:<br>
        <input type="password" name="pass" id="pass" required><br>
        Re-Password:<br>
        <input type="password" name="rpass" id="rpass" required><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>

</html>