<html>

<head>
    <title>SELECT OPTION</title>
</head>

<body>
    <h1>SELECT YOUR OPTION</h1>
    <button type="button" onclick="action()">Resgister Locker</button>
    <button type="button" onclick="input()">Open Locker</button>

    <script>
        function action() {
            location.href = "/api/test"
        }

        function input() {
            location.href = "/api/login/code"
        }
    </script>
</body>

</html>